<html>
<head>
<script>
$(document).ready(function(){
    $("#mybutton").click(function(){
        $(this).css("background-color","blue");    
    });
});
</script>
	</head>
	<body>
		<input type="submit" id="mybutton">
	</body>
</html>