<div class = "panel panel-success">
   <div class = "panel-heading">
      <h3 class = "panel-title">
         New Tag
      </h3>
   </div>
   
   <div class = "panel-body">
      <%= render 'form' %>
   </div>
</div>